<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Generator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- 画像アップロードセクション -->
    <div class="container1">
        <form method="POST" enctype="multipart/form-data">
            <div class="upload-section">
                <label for="file">画像をアップロードしてください</label>
                <input type="file" name="file" id="file" required>
            </div>
            <button type="submit">アップロード</button>
        </form>

        {% if imagefile %}
        <div class="image-preview">
            <img src="{{ imagefile }}" alt="Uploaded Image">
        </div>
        {% endif %}
    </div>


    <!-- プレイリストID入力セクション -->
 <div class="container2">
    {% if getimage %}
        <h1>上位10曲</h1>
        <table border="1">
        <tbody>
                {% for row in top %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if answer %}
    <div class="result-section">
        <a href="{{ answer }}" target="_blank">Spotifyでプレイリストを開く</a>
    </div>
    {% endif %}
</div>



    {% if getimage %}
        <form action="/create_playlist" method="POST">
            <button type="submit">プレイリストを作成する</button>
        </form>
    {% endif %}

    {% if answer %}
        <div class="result-section">
            <a href="{{ answer }}" target="_blank">作成されたプレイリストを開く</a>
        </div>
    {% endif %}

</body>
</html>